html {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

body.show-spinner > main {
  overflow: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner > *{
  opacity: 0;
}

/* Spinner */
body.show-spinner::after{
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
/*header & sidebar Left*/
.menu{padding-top: 60px}
.menu .main-menu,.rounded.menu-sub-hidden .main-menu, .rounded.sub-hidden .main-menu{width: 200px;border-radius: 0;-webkit-border-radius: 0;}
.menu .main-menu .scroll>ul>li{margin: 0}
.menu .main-menu ul li>a{position: relative;height: auto; color: #fff; min-height: 50px;flex-flow: row; flex-wrap: nowrap; justify-content: space-between; align-items: center;border-bottom: none;opacity: 1!important}
.menu .main-menu .scroll>ul>li>a{padding:5px 0 5px 4px}
.menu .main-menu ul li>a>i[class*="simple-icon-arrow-down"]{display: inline-block; line-height: 25px;position: absolute;top: 14px; right: 10px; color: #fff;font-size: 12px}
.menu .main-menu ul li>a:not(.collapsed)>i[class*="simple-icon-arrow-down"]{transform: rotate(180deg)}
.main-menu .list-unstyled>li>a>span{text-align: left;display: flex;flex-flow: row nowrap; align-items: center; color: #171725}
.menu .main-menu ul li>a>span.d-flex{line-height: 100%; text-align: left;display: flex;flex-flow: row nowrap; align-items: center; color: #fff}
.menu .main-menu ul li>a:not(.collapsed)>span.d-flex{color: #D2E9F9}
.main-menu .list-unstyled>li>a>span>i{margin-right: 10px}
.menu .main-menu ul li.active>a>span{ color: #283D81}
.menu .main-menu ul li.active:after{height: 25px; width: 4px;background: #50B5FF}
.menu .main-menu ul.inner-level-menu li>a{min-height: 30px;padding-left: 47px}
.menu .main-menu ul.inner-level-menu li>a>span{width: 100%;text-align: left;line-height:130%;color: #fff;padding: 0!important}
.menu .main-menu ul.inner-level-menu li>a>span>i{font-size: 18px; line-height: 30px}
.menu .main-menu ul.inner-level-menu li>a:hover>span{color:#D2E9F9}
.menu .main-menu ul.inner-level-menu li.active>a{background: #D2E9F9;}
.menu .main-menu ul.inner-level-menu li.active>a>span{color: #002858}

/*slidebar left*/
.menu .main-menu{background: #283D81;border-top:1px solid #fff;min-height: calc(100% - 60px)}
.main-menu [class*="nav-"]{display: block;width: 24px; height: 24px;background: url("../di/nav-home.png") 50% 50% no-repeat;background-size: auto 20px; filter: brightness(0) invert(1)}
.main-menu [class*="nav-home"]{background-size:auto 20px}
.main-menu [class*="nav-import"]{background-image: url("../di/nav-import.png")}
.main-menu [class*="nav-doc"]{background-image: url("../di/nav-doc.png")}
.main-menu [class*="nav-trans"]{background-image: url("../di/nav-report.png")}
.main-menu [class*="nav-repot"]{background-image: url("../di/nav-report.png")}
.main-menu [class*="nav-log"]{background-image: url("../di/nav-log.png")}
.main-menu [class*="nav-template"]{background-image: url("../di/nav-template.png")}
.main-menu [class*="nav-setup"]{background-image: url("../di/nav-setup.png")}
.main-menu [class*="nav-user"]{background-image: url("../di/nav-user.png")}
/*.menu .main-menu ul li.active a i, .page-item.active .page-link i{ filter:saturate(20) hue-rotate(250deg);-webkit-filter:saturate(20) hue-rotate(250deg)}*/
/*template Menu*/
.tmp-menu,.tmp-menu .sub-menu{position: relative;top: auto;left: auto;bottom: auto;padding: 0}
.tmp-menu{height:calc(100vh - 143px); margin-bottom: -40px;}
.tmp-menu .sub-menu{transform: translateX(-1rem)!important;border: none!important;margin-left: 1px;height: calc(100vh - 143px);margin-bottom: -40px;}
.tmp-menu .sub-menu h2{border-top-right-radius:.75rem}
.tmp-menu .sub-menu .inner-level-menu{overflow:auto;max-height: 100%}
.tmp-menu .sub-menu .inner-level-menu li{margin-left: 0;margin-bottom: 0}
.tmp-menu .sub-menu .inner-level-menu li:after{display: none}
.tmp-menu .sub-menu .inner-level-menu li>a{padding:10px 10px 10px 20px;color: #B5B5BE;margin: 0}
.tmp-menu .sub-menu .inner-level-menu li>a>span{color: #B5B5BE;}
.tmp-menu .sub-menu .inner-level-menu li.active>a{background: #F8F8F9;color: #283D81}
.tmp-menu .sub-menu .inner-level-menu li.active>a>span,.tmp-menu .sub-menu .inner-level-menu li>a:hover>span{color: #283D81}
.navbar{height: 60px;padding-top: 0;padding-bottom:0}
.navbar-left .navbar-logo{min-width: 201px;height: 60px; background: #283D81; border-right: 1px solid #E2E2EA;padding-left: 20px;display: flex;align-items: center}
.navbar-left .navbar-logo img{height: 35px}
.navbar-left .custom-select{max-width: 50%;width: 280px}
[id="search-type"]{position: relative}
.navbar .navbar-right{flex-basis: auto; background: #F1F6F9;height: 100%;padding-left: 15px; padding-right: 15px}
.navbar .dropdown-toggle{height: 32px;}
#lang .btn-light {background-color: #fff;border-color: #fff}
.navbar .search{ width: 100%; min-width: 200px; height: 32px;background: #fff;border-radius: 0}
.navbar .search input{padding-top: 0;padding-bottom: 0; padding-left: 40px; line-height:32px}
.navbar .search .search-icon{width: 32px; height: 32px; line-height:32px; top: 1px;left: 3px; right: auto}
.navbar .user .name small{color: #b7b4b4;margin-top: -1px}
.navbar .user .btn{padding-right: 18px!important}
.navbar .user .btn:after{content: ""; display: block;position: absolute;top:50%;right: 3px; transform: translateY(-50%);-webkit-transform: translateY(-50%);border-top: 5px solid #92929D;border-left: 5px solid transparent;border-right: 5px solid transparent}
#app-container.menu-hidden main, #app-container.menu-sub-hidden main, #app-container.sub-hidden main {
    margin-left: 230px; margin-top: 80px
}
.navbar .header-icon#notificationButton .count{border-color: #FC5A5A;background: #FC5A5A;color: #fff}

/*custom css*/
.hid{display: none}
.hid+.select2{display: none}
/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-weight: 600}*/
body{padding-bottom:0;font-family: "Prompt"}
p{font-family: "Prompt"}
.theme-colors{display: none}
/*.btn-primary,#displayOptions .show > .btn-outline-dark.dropdown-toggle,.btn-primary:hover,.btn-outline-primary:hover{background-color: #7fbc03;border-color: #7fbc03}*/
.dropdown-item.active, .dropdown-item:active{background-color: #0077c1;}
.text-gray{color: #c8c8c8}
.text-light {color: #BDBDBD !important}
.text-orange{color: #f37022}
.text-blue{color: #0062FF}
.text-lightblue{color: #50B5FF}
.text-dark{color: #44444F!important}
.text-primary{color: #283D81!important}
.bg-gray,.btn-gray{background-color: #c8c8c8}
.btn-gray{background-color: #97a3b5;color: #fff}
.bg-gray2,.btn-gray2{background-color: #C1C1C1;color: #fff!important}
.bg-light{background-color: #f5f5f5 !important}
.bg-lightblue{background-color: rgba(80, 181, 255, 0.1) !important; color: #50B5FF}
.bg-primary{background-color: #283D81 !important}
/*.menu .main-menu ul li.active:after,.btn-outline-primary:hover{background:#7fbc03}
.menu .main-menu ul li.active a,.page-item.active .page-link,.btn-link{color: #7fbc03}*/
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle,.btn-primary,.btn-primary:hover,.btn-outline-primary:hover{background:#283D81;border-color: #283D81}
.btn-blue:not(:disabled):not(.disabled).active, .btn-blue:not(:disabled):not(.disabled):active, .show > .btn-blue.dropdown-toggle,.btn-blue,.btn-blue:hover,.btn-outline-blue:hover{background:#50B5FF;border-color: #50B5FF}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle,.btn-success,.btn-success:hover,.btn-outline-success:hover{ background: #3DD598;border-color:#3DD598}
.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle,.btn-warning,.btn-warning:hover,.btn-outline-warning:hover{ background: #F37022;border-color:#F37022}
.bg-green, .btn-green {background: #8db935;color: #fff}
.bg-red, .btn-red {background: #FC5A5A;color: #fff}
.btn-outline-primary{border-color: #283D81;color: #283D81}
.btn-outline-blue{border-color: #50AAE2;color: #50AAE2}
.btn-blue,.btn-blue:hover,.btn-outline-primary:hover,.btn-success:hover{color: #fff}
.btn-danger-50{background: #fedede;color: #FC5A5A!important}
.btn-success-50{background: #d8f7ea;color: #3DD598!important}
.btn-group-lg > .btn, .btn-lg{font-weight: 400}
.data-table [class*="btn-"]:hover .icon-img img{filter:none}
.btn-outline-warning {color: #F37022;    border-color: #F37022;}
.page-item.active .page-link{border-color:#002858}
.modal .close{font-family: tahoma}
.btn [class*="icon-img"]{display: inline-block;vertical-align: middle;margin-right: 5px}
.btn [class*="icon-img"] img{display: block;max-height: 20px}
[class*="btn-"]:hover .icon-img img{/*filter: brightness(0) invert(1);-webkit-filter: brightness(0) invert(1)*/}
[class*="icon-img"].f-white img{filter: brightness(0) invert(1);-webkit-filter: brightness(0) invert(1)}
[class*="btn-"][class*="-transparent"]:hover .icon-img img{filter: none;-webkit-filter: none}
.btn-link{/*color: #469d47!important*/}
.btn i{position: relative;top: -2px; font-size: 21px;font-style: normal; vertical-align: middle;line-height: normal}
.rounded-05{border-radius:.5em!important;-webkit-border-radius:.5em!important}
.rounded-1{border-radius: 1em!important;-webkit-border-radius: 1em!important}
.rounded-2{border-radius: 2em!important;-webkit-border-radius: 2em!important}
.rounded-5{border-radius: 5em!important;-webkit-border-radius: 5em!important}
.custom-select{background-image: url(../di/arrow-selectbox.png); background-size: auto 8px}
/*.cv-select-cr .select2-container--bootstrap .select2-selection.form-control{background: #f8f9fa;border-radius:2em!important}
.cv-select-cr .select2-container--bootstrap.select2-container--open .select2-selection{border-color: #d7d7d7!important}
.cv-select-cr .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{background: none}*/
.form-group label{font-weight: 700}
/*table sort*/
table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after{content: "";display: block; border-left: 5px solid transparent;border-right: 5px solid transparent}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after{border-top: 5px solid #54565a;bottom: 1em}
table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before{border-bottom: 5px solid #54565a;right: 1.5em;bottom: auto;top: 1em;}
table.dataTable thead .sort-none:before,table.dataTable thead .sort-none:after{display: none}
.dataTables_scrollBody th:before{display: none!important}
.table td[valign="middle"]{vertical-align:middle}
/*paging*/
.pagination-sm .page-item .page-link,.page-item .page-link.prev,.page-item .page-link.next,.page-item .page-link.first, .page-item .page-link.last{color:#54565a}
.page-item .page-link.next,.page-item .page-link.prev,.page-item .page-link.first, .page-item .page-link.last,.page-item .page-link.first:hover, .page-item .page-link.last:hover{background: none;border: none}
.dataTables_wrapper .paginate_button.previous{margin-right: 0}
.dataTables_wrapper .paginate_button.next{margin-left: 0}
.page-item .page-link.first:hover, .page-item .page-link.last:hover{color: #469d47}
.ft-paging .page-item{padding: 0 2px;margin: 0}
.ft-paging .page-item .page-link{height:30px; min-width: 30px;line-height: 30px; padding: 0;border: none;color: #92929D}
.ft-paging .page-item.active .page-link{ color: #0062FF;border: none}
.ft-paging .page-item .page-link.prev,.ft-paging .page-item .page-link.next{line-height: 28px; border: 1px solid #E2E2EA; border-radius: .5rem!important;-webkit-border-radius: .5rem!important}
.ft-paging .ctrl-page .btn-outline-dark{border-color:#E2E2EA;color:#92929D;border-radius: .5rem;-webkit-border-radius: .5rem; padding: 0 7px 0 5px; line-height: 28px; min-width: 30px;}
.ft-paging .ctrl-page .btn-outline-dark:hover{background-color: #283D81;color: #fff;border-color: #283D81}
/*ERROR*/
.fixed-background{background: #f8f8f8}
.auth-card .form-side{width: 100%}
/*ERROR,Login*/
.logo-single{position: relative;width: 370px;max-width: 100%; background-image:url("../di/logo-tmb.png"), url("../di/logo-thanachart.png");background-size:26% auto, 65% auto; background-position:0 100%, 100% 60%; height: 52px;margin-bottom: 40px}
.logo-single:before{content: "";display: block;position: absolute;top:8px;bottom: 8px;left: 30%;border-right: 1px solid #B5B5B5}
.rounded .card.auth-card{background:none}
.rounded .card.auth-card,.rounded .auth-card .image-side{border-radius: 0;-webkit-border-radius: 0}
.rounded .auth-card .image-side{border-radius: 1rem 0 0 1rem}
.rounded .auth-card .form-side{border-radius: 0 1rem 1rem  0}
.fixed-background{background:#f8f8f8}
.fixed-background.image{background:url("../di/bg-login.jpg") #3a3a3a;background-size: cover;}
.auth-card .image-side{background:rgba(1,106,179,.5);width: 50%;}
.auth-card .form-side{width: 100%;background:#fff}
.form-side .btn{border-radius: 1em}
/*detail*/
/*.card{box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1)}*/
.sub-header,.text-medium{font-size: 16px}
.user-avatar{width: 200px;max-width: 100%}
.nav-tabs.separator-tabs .nav-link{font-size: 13px; padding: 15px 20px; color: #B5B5BE; text-transform: inherit}
.nav-tabs.separator-tabs .nav-link.active{color: #171725}
.nav-tabs.separator-tabs .nav-link.active:before{height: 3px; background:#50B5FF}
.nav-tabs .fix-top-right{ position: absolute; top: 0;right: 0}
.head-bar .icon-button{border: none}
.head-bar .icon-button:hover{background: #fff;color: #54565a}
.head-bar .icon-button.rotate{transform: rotate(180deg)}
.head-bar .icon-button .with-rotate-icon:before{display: block;width: 0;height: 0; margin: 0 auto;content: "";border-top: 8px solid #54565a;border-left:8px solid transparent;border-right:8px solid transparent}
.head-tab-title{position: relative}
.head-tab-title .fix-r{position: absolute; right: 0; bottom: 5px;}
.card[class*="product"] .bg-light .ctrl-btn .btn, .modal .bg-light .ctrl-btn .btn{min-width: 80px}
.table.nowrap thead th{white-space: nowrap}
.modal .table.nowrap thead th{border: none}
/**/
/*.btn.min-w{min-width: 100px}
.btn-gray{background-color: #97a3b5;color: #fff}
.main-consent-setting .data-table .btn{ min-width: 100px; padding: 5px 10px}
.group-sub{position: relative}
.group-sub .btn-del{display: none;position: absolute; top: 50%; left: 100%; transform: translateY(-50%);-webkit-transform: translateY(-50%);color: #ff1a1a;text-decoration:underline}
.group-sub.added .btn-del{display: block}*/
/*import filt*/
.select2-container--default .select2-selection--single{border-radius: 0.5em;-webkit-border-radius: 0.5em;border-color: #d7d7d7}
.select2-container .select2-selection--single{height: auto}
.select2-container--bootstrap .select2-selection.form-control{padding: 0}
.select2-container--bootstrap .select2-selection--single{line-height: 24px}
.select2-container .select2-selection--single .select2-selection__rendered{height: calc(2em + .5rem);padding: 0.2rem .75em;color: #3a3a3a}
.select2-container--default .select2-selection--single .select2-selection__arrow{top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%)}
.border-dash{border: 2px dashed #E0E0E0;padding: 10px;border-radius: .5em;-webkit-border-radius: .5em}
.border-dash .dropzone{position: relative;border:none!important; min-height: 150px!important; border-radius: .5em;-webkit-border-radius: .5em;}
.dropzone.dz-clickable .dz-message{position: absolute;top: 50%!important;left: 50%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%)}
.dropzone.dz-clickable .dz-message>span{display: block; top: 0!important; transform: none; width: 180px; height: 130px; text-indent: -9999px;background: url("../di/ic-dropfile.png") 50% 50% no-repeat;background-size: auto 100%}
.wrap-drop{margin-bottom: 20px}
.wrap-drop ~ p{position: relative;margin-bottom: 5px!important;padding-bottom: 4px}
.wrap-drop ~ p:after{content: "";display: block;position: absolute;bottom: -4px;left: 0;right: 0; height: 4px; background: #27AE60;border-radius: 5em}
.input-group.date .input-group-addon:first-child,.input-group.date>.form-control:first-child,.input-group.addon .input-group-addon:first-child,.input-group.addon>.form-control:first-child{border-top-left-radius: .5em;border-bottom-left-radius: .5em}
.input-group.date .input-group-addon:last-child,.input-group.date>.form-control:last-child,.input-group.addon .input-group-addon:last-child,.input-group.addon>.form-control:last-child{border-top-right-radius: .5em;border-bottom-right-radius: .5em}
[id="compare"] .border,.setup-avatar .border {border: 1px solid #d7d7d7 !important}
[id="compare"]:after{content: "";display: block;clear:both}
.input-group > .form-control.text-gray:not(:last-child){color:#c8c8c8}
.setup-avatar .alert-warning{border-left:8px solid #FFC542!important;background-color: #ffe8b3!important;color: #000}
.btn-attach{ width:150px;border: none;text-indent: -9999px;}
.btn-attach .custom-file-label{border: none;margin-bottom: 0}
.btn-attach .custom-file-input:lang(en) ~ .custom-file-label:after {
    content: "Browse File";
}
.btn-attach .custom-file-label:after{left: 0; text-align: center;text-indent: 0; background: #283D81;color: #fff; border-radius: .5rem}
/*checkb0x*/
.custom-control-label:before {background-color: #fff!important}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before, .custom-radio .custom-control-input:checked ~ .custom-control-label:before{background-color: #50B5FF!important;border-color:rgba(0,0,0,0.2)!important}
/*doc tax*/
.sv-select-line{position: relative}
.sv-select-line:after{content: "";display: block;position: absolute;top: 50%; right: 7px; border-top: 5px solid #323232; border-left: 5px solid transparent;border-right: 5px solid transparent}
.sv-select-line select{padding-right: 30px; -webkit-appearance:none;-moz-appearance:none;appearance:none}
.search-bar .has-float-label > span:last-of-type{left: 0}
.dc-min-h{min-height: 60vh}
.fix-cal-right .input-group-text{ top: 50%;right:3px;transform: translateY(-50%)}
/*transection*/
.sw-main.sw-theme-dots > ul.step-tabs:before{top: 50%;height: 2px}
.sw-main.sw-theme-dots > ul.step-tabs > li{margin: 0 50px 0 10px;}
.sw-main.sw-theme-dots > ul.step-tabs > li > a{display: block;padding: 0; width: 40px;height: 40px; text-align: center;line-height: 40px;}
.sw-main.sw-theme-dots > ul.step-tabs > li > a:before{width: 34px;height: 34px; bottom: auto;top: 50%;left:2px; margin: 0; transform: translate(0%,-50%);z-index: -2}
.sw-main.sw-theme-dots > ul.step-tabs > li > a:after{position: absolute;width: 24px;height: 24px;background:#f3f3f3;bottom: auto;top: 50%;left: 7px; margin: 0; transform: translate(0%,-50%);z-index: -1}
.sw-main.sw-theme-dots > ul.step-tabs > li.active > a{color: #fff!important}
.sw-main.sw-theme-dots > ul.step-tabs > li.active > a:after{background: #145388;}
.sw-main.sw-theme-dots > ul.step-tabs > li > a.text{width: auto;text-align: left}
.sw-main.sw-theme-dots > ul.step-tabs > li > a.text>i{display: inline-block;font-style: normal;width: 40px; text-align: center;line-height: 40px;}
.sw-main.sw-theme-dots > ul.step-tabs > li > a.text>span{display: inline-block;vertical-align: middle; font-size: 13px; color: #696974; padding: 0 4px; background: #fff;}
.sw-main.sw-theme-dots > ul.step-tabs > li.active > a.text>span{color: #283D81;font-weight: 700}
/*Report*/
.dash-report{}
.dash-report .icon-vat-report{position: relative; width: 130px; max-width: 60%;margin: 2rem auto 10px; background: #D2E9F9;border-radius: 100%;-webkit-border-radius: 100%;overflow: hidden}
.dash-report .icon-vat-report:before{content: "";display: block;padding: 100% 0 0}
.dash-report .icon-vat-report img{display: block;position: absolute;top:50%;left: 50%; transform: translate(-50%,-50%)}
/*dashboard*/
.box-ds .card-footer{background-color: #D2E9F9; color: #ED3E49}
.dashboard-numbers .bg-primary{background-color: #53aafc!important}
.dashboard-numbers .bg-success{background-color: #2ed47a!important}
.dashboard-numbers .bg-gray{background-color: #b7b4b4!important}
.dashboard-numbers .bg-danger{background-color: #f7685b!important}
.icon-cards-row{margin: 0}
.icon-cards-row .lead,.icon-cards-row .card-text{color: #fff;font-size: 150%}
.icon-cards-row .lead{display: block;font-size: 300%;margin-top: .5em}
.list-total>li>p{font-size: 18px; color: #97a3b5}
.list-total>li>.text-success{font-size: 220%;color: #7fbc03!important}
.ds-table .badge{font-size: 13px;font-weight: 200;border:none}
.ds-table .badge[class*="success"]{background: #ecfbf5}
.ds-table .badge[class*="danger"]{background: #faeaeb;color: #FC5A5A}
.ds-table .badge[class*="warning"]{background: #fff8ee;color: #FCBB5A}
.ds-table .badge[class*="dark"]{background: #e3e3e6}
.ds-table thead tr th{background: #D2E9F9;border: none}
.ds-table thead tr th:first-child{border-radius: 1em 0 0 1em}
.ds-table thead tr th:last-child{border-radius:0 1em 1em 0}
.ds-table .table-striped tbody tr>td{border-top: none}
.ds-table .table-striped tbody tr:nth-of-type(2n+1){background: #fff!important}
.ds-table .table-striped tbody tr:nth-of-type(2n){background: #FAFAFB}
/*client*/
#header-micro{box-shadow: inset 0px -1px 0px #E2E2EA}
.client-info{list-style-type: none;padding: 0; margin: 0}
.client-info>li>*{line-height: 30px; padding: 5px 15px;font-size: 14px; color: #44444F}
.client-info>li>em{ display: block; background: #F8F8F9;font-weight: 700;font-style: normal}
.client-info>li>div{}
@media (max-width:991px){
.dc-add-tb.ds-table table tr>* .form-control{ min-width: 100px}
.rounded .auth-card .image-side{border-radius:0;flex-basis: 100%;width: 100%;padding: 0!important}
.rounded .auth-card .image-side img{max-height: 25vh;margin: 0 auto;display: block;width: auto}
.rounded .auth-card .form-side{border-radius:0}
.main-client .h-100{ height: auto!important}
}
@media (max-width:480px){
.navbar-left .navbar-logo{min-width: inherit;border: none;padding-left: 5px}
.navbar .menu-button-mobile{width:50px;margin-left: 0}
#app-container.menu-mobile .main-menu {    transform: translateX(-200px);}
#app-container.main-show-temporary .main-menu {    transform: translateX(0);}
.navbar .search{width: 40px;min-width: 40px;}
.navbar .search.mobile-view{margin-left: 0;padding-left: 40px}
.dc-header{flex-flow: row wrap!important}
.dc-header>*{flex-basis: 100%;max-width: 100%}
.dc-data-list .text{ max-width: 70%;justify-content:flex-start!important;flex-wrap: wrap !important}
.dc-data-list .value .form-control{max-width: 70px}
.ft-paging {flex-wrap: wrap;justify-content: center!important}
.ft-paging>.d-block{margin-left: 0!important}
.ft-paging .page-item .page-link{min-width: 26px}
}
