<nav class="navbar fixed-top">
        <div class="d-flex align-items-center navbar-left col pl-0 pr-0">
            <!--<a href="#" class="menu-button d-none d-md-block">
				<img src="di/ic-menu.png">
            </a>-->

            <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
               <img src="di/ic-menu.png">
			   <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                    <rect x="0.5" y="0.5" width="25" height="1" />
                    <rect x="0.5" y="7.5" width="25" height="1" />
                    <rect x="0.5" y="15.5" width="25" height="1" />
                </svg>-->
            </a>
			
			 <a class="navbar-logo" href="index.php">
				<span class="brand-logo d-none d-xs-block"><img src="di/logo.png" height="55"></span>
				<span class="brand-logo-mobile d-block d-xs-none"><img src="di/logo.png" height="35"></span>
			</a>
			
			<div class="col d-flex justify-content-between align-items-center">
			
				<div class="search" data-search-path="#">
					<input placeholder="Search...">
					<span class="search-icon">
						<i class="simple-icon-magnifier"></i>
					</span>
				</div>

				<select class="custom-select border-top-0 border-left-0 border-right-0 ml-4" required="">
					<option value="" selected="">Company Name</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>

            <!--<div class="mr-2 dropdown-as-select" id="search-type">
					<button class="btn btn-light btn-xs dropdown-toggle" type="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Search by ID Card
					</button>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item active" href="#">ID Card</a>
						<a class="dropdown-item" href="#">Name</a>
						<a class="dropdown-item" href="#">Mobile Number</a>
					</div>
				</div>-->
			
			<!--<div class="link-adv-search">
				<a href="javascript:;" class="text-primary ml-2 nowrap"
                                data-toggle="modal" data-backdrop="static" data-target="#advance-srh">Advance Search</a>
				
			</div>-->
			
			

        </div>


       

        <div class="navbar-right d-flex justify-content-end align-items-center">
            <!--<div class="header-icons d-inline-block align-middle">
                <div class="d-none d-md-inline-block align-text-bottom mr-3">
                    <div class="custom-switch custom-switch-primary-inverse custom-switch-small pl-1" 
                        data-toggle="tooltip" data-placement="left" title="Dark Mode">
                        <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                        <label class="custom-switch-btn" for="switchDark"></label>
                    </div>
                </div>

                <div class="position-relative d-none d-sm-inline-block">
                    <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="simple-icon-grid"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" id="iconMenuDropdown">
                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-equalizer d-block"></i>
                            <span>Settings</span>
                        </a>

                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-male-female d-block"></i>
                            <span>Users</span>
                        </a>

                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-puzzle d-block"></i>
                            <span>Components</span>
                        </a>

                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-bar-chart-4 d-block"></i>
                            <span>Profits</span>
                        </a>

                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-file d-block"></i>
                            <span>Surveys</span>
                        </a>

                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-suitcase d-block"></i>
                            <span>Tasks</span>
                        </a>

                    </div>
                </div>

                

                <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
                    <i class="simple-icon-size-fullscreen"></i>
                    <i class="simple-icon-size-actual"></i>
                </button>

            </div>-->
			<div class="position-relative ml-2 mr-2 lang d-inline-block dropdown-as-select" id="lang">
				<button class="btn btn-light btn-xs pl-2 pr-2 dropdown-toggle" type="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					EN
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item active" href="#">EN</a>
					<a class="dropdown-item" href="#">TH</a>
				</div>
			</div>
			
			<div class="position-relative d-inline-block">
                    <button class="header-icon btn btn-empty" type="button" id="notificationButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="simple-icon-bell"></i>
                        <span class="count">3</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3 position-absolute" id="notificationDropdown">
                        <div class="scroll">
                            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                <a href="#">
                                    <img src="img/profile-pic-l-2.jpg" alt="Notification Image"
                                        class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                                </a>
                                <div class="pl-3">
                                    <a href="#">
                                        <p class="font-weight-medium mb-1">Joisse Kaycee just sent a new comment!</p>
                                        <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                <a href="#">
                                    <img src="img/notification-thumb.jpg" alt="Notification Image"
                                        class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                                </a>
                                <div class="pl-3">
                                    <a href="#">
                                        <p class="font-weight-medium mb-1">1 item is out of stock!</p>
                                        <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                <a href="#">
                                    <img src="img/notification-thumb-2.jpg" alt="Notification Image"
                                        class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                                </a>
                                <div class="pl-3">
                                    <a href="#">
                                        <p class="font-weight-medium mb-1">New order received! It is total $147,20.</p>
                                        <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-3 pb-3 ">
                                <a href="#">
                                    <img src="img/notification-thumb-3.jpg" alt="Notification Image"
                                        class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                                </a>
                                <div class="pl-3">
                                    <a href="#">
                                        <p class="font-weight-medium mb-1">3 items just added to wish list by a user!
                                        </p>
                                        <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="user d-inline-block mr-0">
                <button class="btn btn-empty p-0 d-flex" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
					<span class="mr-2">
                        <img alt="Profile Picture" src="img/profile-pic-l.jpg" />
                    </span>
                    <span class="name text-left">Mana Audsaha
					<small class="d-block">Marketing Administrator</small>
					</span>
                    
                </button>

                <div class="dropdown-menu dropdown-menu-right mt-3">
                    <a class="dropdown-item" href="#">Account</a>
                    <a class="dropdown-item" href="#">Features</a>
                    <a class="dropdown-item" href="#">History</a>
                    <a class="dropdown-item" href="#">Support</a>
                    <a class="dropdown-item" href="#">Sign out</a>
                </div>
            </div>
			
			
			
        </div>
    </nav>
	
	
