<!-- Modal -->
<div class="modal fade" id="removeModalconfirm" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-0 text-center">
			   <i class="icon-img"><img src="di/ic-warning-orange.png" height="100"></i>
			   <h5 class="text-dark mt-3">Remove document</h5>
				<p>Would you like to remove x documents ?</p>
			</div>
			<div class="modal-footer pt-2 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-success rounded-05 col-3" data-dismiss="modal" data-toggle="modal" data-target="#removeModalsuccess">Confirm</button>
				<button type="button" class="btn btn-md btn-red rounded-05 col-3" data-dismiss="modal">Cancel</button>				
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="sendModalsuccess" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-5 text-center">
			   <i class="icon-img"><img src="di/ic-check-success.png" height="100"></i>
			   <h5 class="text-dark mt-3">Success</h5>
			</div>
			<div class="modal-footer pt-2 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-success rounded-05 col-3" data-dismiss="modal">OK</button>			
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="saveAlertconfirm" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-0 text-center">
			   <i class="icon-img"><img src="di/ic-warning-orange.png" height="100"></i>
			   <h5 class="text-dark mt-3">Warning</h5>
				<p>Would you like to save ?</p>
			</div>
			<div class="modal-footer pt-2 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-success rounded-05 col-3" data-dismiss="modal" data-toggle="modal" data-target="#saveModalsuccess">Confirm</button>
				<button type="button" class="btn btn-md btn-red rounded-05 col-3" data-dismiss="modal">Cancel</button>				
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="saveModalsuccess" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-0 text-center">
			   <i class="icon-img"><img src="di/ic-check-success.png" height="100"></i>
			   <h5 class="text-dark mt-3">Success</h5>
			   <p>Save success</p>
			</div>
			<div class="modal-footer pt-2 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-success rounded-05 col-3" data-dismiss="modal">OK</button>			
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="removeModalalert" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-5 text-center">
			   <i class="icon-img"><img src="di/ic-warning-orange.png" height="100"></i>
			   <h5 class="text-dark mt-3">Remove document</h5>
			   <p>Please select less than 1 document.</p>
			</div>
			<div class="modal-footer pt-2 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-success rounded-05 col-3" data-dismiss="modal">OK</button>			
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="removeModalsuccess" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-0 pb-0 text-center">
			   <i class="icon-img"><img src="di/ic-check-success.png" height="100"></i>
			   <h5 class="text-dark mt-3">Remove document</h5>
			   <p>Remove document susccess</p>
			</div>
			<div class="modal-footer pt-2 d-flex justify-content-center border-0">
				<button type="button" class="btn btn-md btn-success rounded-05 col-3" data-dismiss="modal">OK</button>			
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="addJobModal" tabindex="-1" role="dialog"	aria-hidden="true">
	<div class="modal-dialog modal-xl mt-5">
			<div class="modal-content bg-transparent">
				<div class="modal-header bg-primary border-0">
					<h5 class="modal-title">Add Job</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="text-white" aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body bg-white rounded-bottom">
					<div class="row">
						<div class="col form-group mb-3">
							<label class="hid">Job Name *</label>
							<input type="text" class="form-control rounded-05" placeholder="Job Name *">
						</div>

						<div class="col form-group mb-3">
							<label class="hid">Batch Type *</label>
							<input type="text" class="form-control rounded-05" placeholder="Batch Type *">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-12 group-radio">
							<div class="custom-control custom-radio">
								<input type="radio" id="typeJob1" name="typeJob1" class="custom-control-input" onclick="$('#ex-time').hide();">
								<label class="custom-control-label" for="typeJob1">Minute</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="typeJob2" name="typeJob1" class="custom-control-input" onclick="$('#ex-time').hide();">
								<label class="custom-control-label" for="typeJob2">Hourly</label>
							</div>
							<div class="custom-control custom-radio d-flex flex-nowrap align-items-center justify-content-start">
								<div class="title">
								<input type="radio" id="typeJob3" name="typeJob1" class="custom-control-input" onclick="$('#ex-time').show();">
								<label class="custom-control-label" for="typeJob3">Daily</label>
								</div>
								<div id="ex-time" class="hid">
									<div class="text d-flex flex-nowrap align-items-center justify-content-start ml-5 mt-n2 mb-n2">
											<span class="mr-1">Every</span>
											<select class="form-control select2-normal " data-width="50">
												<option selected>0</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>10</option>
												<option>15</option>
												<option>20</option>
											</select>
											<span class="ml-1 mr-1">minute(s) on minute(s) on</span>
											<select class="form-control select2-normal" data-width="50">
												<option selected>0</option>
												<option>15</option>
												<option>30</option>
												<option>45</option>
											</select>

									</div>
								</div>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="typeJob4" name="typeJob1" class="custom-control-input" onclick="$('#ex-time').hide();">
								<label class="custom-control-label" for="typeJob4">Weekly</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="typeJob5" name="typeJob1" class="custom-control-input" onclick="$('#ex-time').hide();">
								<label class="custom-control-label" for="typeJob5">Monthly</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="typeJob6" name="typeJob1" class="custom-control-input" onclick="$('#ex-time').hide();">
								<label class="custom-control-label" for="typeJob6">Yearly</label>
							</div>
						</div>
						

					</div>
					<div class="form-group mb-3">
						<label>Description</label>
						<textarea class="form-control rounded-05" rows="2" name="jQueryDetail" required="" placeholder="Enter description here...">Every Minute</textarea>
					</div>
					
					<div class="ctrl-btn d-flex justify-content-end border-0">
						<button type="button" class="btn btn-lg btn-outline-primary rounded-05" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-lg btn-primary rounded-05 ml-3" data-dismiss="modal" data-toggle="modal" data-target="#sendModalsuccess">Submit</button>
					</div>
					
				</div>
			</div>
		</div>
</div>

<!-- Modal Doc -->
    <div class="modal fade" id="addRemarkModal" tabindex="-1" role="dialog" aria-modal="true">

		<div class="modal-dialog modal-xl">
			<div class="modal-content bg-transparent">
				<div class="modal-header bg-primary border-0">
					<h5 class="modal-title">Buyer Infomations</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="text-white" aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body bg-white rounded-bottom">
					<div class="row">
						<div class="col form-group mb-3">
							<label class="hid">Tax ID *</label>
							<input type="text" class="form-control rounded-05" placeholder="Tax ID *">
						</div>

						<div class="col form-group mb-3">
							<label class="hid">Company *</label>
							<input type="text" class="form-control rounded-05" placeholder="Company *">
						</div>
					</div>
					
					<div class="mb-3">
						<select class="form-control select2-normal" data-width="100%" data-placeholder="Branch">
							<option></option>
							<option>option1</option>
							<option>option2</option>
						</select>
					</div>
					
					<div class="form-group mb-3">
						<label class="hid">Buiding Number *</label>
						<input type="text" class="form-control rounded-05" placeholder="Buiding Number *">
					</div>
					
					<div class="form-group mb-3">
						<label class="hid">Address 1 *</label>
						<input type="text" class="form-control rounded-05" placeholder="Address 1 *">
					</div>
					
					<div class="row">
						<div class="col form-group mb-3">
							<label class="hid">Sub District *</label>
							<input type="text" class="form-control rounded-05" placeholder="Sub District *">
						</div>

						<div class="col form-group mb-3">
							<label class="hid">District *</label>
							<input type="text" class="form-control rounded-05" placeholder="District *">
						</div>
					</div>
					
					<div class="row">
						<div class="col form-group mb-3">
							<label class="hid">Provine *</label>
							<input type="text" class="form-control rounded-05" placeholder="Provine *">
						</div>

						<div class="col form-group mb-3">
							<label class="hid">Postcode *</label>
							<input type="text" class="form-control rounded-05" placeholder="Company *">
						</div>
					</div>
					
					<div class="row">
						<div class="col form-group mb-3">
							<label class="hid">Email *</label>
							<input type="email" class="form-control rounded-05" placeholder="Email *">
						</div>

						<div class="col form-group mb-3">
							<label class="hid">Phone Number *</label>
							<input type="tel" class="form-control rounded-05" placeholder="Phone Number *">
						</div>
					</div>
					
					
					
					<div class="ctrl-btn d-flex justify-content-end border-0">
						<button type="button" class="btn btn-lg btn-outline-primary rounded-05" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-lg btn-primary rounded-05 ml-3" data-dismiss="modal" data-toggle="modal" data-target="#sendModalsuccess">Confirm</button>
					</div>
					
				</div>
				
				
			</div>
		</div>
		
		
		<div class="modal-dialog modal-xl mt-5">
			<div class="modal-content bg-transparent">
				<div class="modal-header bg-primary border-0">
					<h5 class="modal-title">Remark</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="text-white" aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body bg-white rounded-bottom">
					<div class="form-group mb-3">
						<label class="hid">Enter remark here...</label>
						<textarea class="form-control rounded-05" rows="2" name="jQueryDetail" required="" placeholder="Enter remark here..."></textarea>
						<big class="form-text text-black text-right">0/1024</big>
					</div>
					
					<div class="ctrl-btn d-flex justify-content-end border-0">
						<button type="button" class="btn btn-lg btn-outline-primary rounded-05" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-lg btn-primary rounded-05 ml-3" data-dismiss="modal" data-toggle="modal" data-target="#sendModalsuccess">Submit</button>
					</div>
					
				</div>
			</div>
		</div>
	
	
	</div>
	<!-- /Modal -->