 <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a href="index.php">
                            
                            <span class="d-flex w-100"><i class="nav-home"></i>Home</span>
                        </a>
                    </li>
                    <li>
						<a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1" class="rotate-arrow-icon opacity-50">
                            <span class="d-flex"><i class="nav-import"></i> Import Data</span> <i class="simple-icon-arrow-down"></i>
                        </a>
                        <div id="collapse1" class="collapse show">
                            <ul class="list-unstyled inner-level-menu">
							 	<li class="active">
                                    <a href="import-file.php">
                                        <span class="d-block">Import Data</span>
                                    </a>
                                </li>
                                
							</ul>
						</div>
                    </li>
                    <li>
						<a href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                            aria-controls="collapse2" class="rotate-arrow-icon collapsed">
                            <i class="simple-icon-arrow-down"></i> <span class="d-flex"><i class="nav-doc"></i> Document</span>
                        </a>
                        <div id="collapse2" class="collapse">
                            <ul class="list-unstyled inner-level-menu">
                                <li><a href="doc-invoice-tax.php"><span class="d-block">Invoice/Tax Invoice</span></a></li>
								<li><a href="doc-receipt-tax.php"><span class="d-block">Receipt/Tax Invoice</span></a></li>
								<li><a href="doc-delivery-tax.php"><span class="d-block">Delivery Order/Tax Invoice</span></a></li>
								<li><a href="doc-delivery-invoice.php"><span class="d-block">Tax Invoice</span></a></li>
								<li><a href="doc-debit.php"><span class="d-block">Debit Note</span></a></li>
								
								<li><a href="doc-credit.php"><span class="d-block">Credit Note</span></a></li>
								<li><a href="doc-cancellation.php"><span class="d-block">Cancelation Note</span></a></li>
								<li><a href="doc-abbreviated.php"><span class="d-block">Abbreviated Invoic</span></a></li>
								<li><a href="doc-receipt.php"><span class="d-block">Receipt</span></a></li>
								<li><a href="doc-invoice.php"><span class="d-block">Invoice</span></a></li>
								
								<li><a href="doc-quotation.php"><span class="d-block">Quotation</span></a></li>
								<li><a href="doc-sell.php"><span class="d-block">Document List (Sell)</span></a></li>
								<li><a href="doc-purchase.php"><span class="d-block">Document List (Purchase)</span></a></li>
								<li><a href="doc-pdf.php"><span class="d-block">Generate PDF</span></a></li>
								<li><a href="doc-xml.php"><span class="d-block">Generate XML</span></a></li>	
								
								<li><a href="doc-download.php"><span class="d-block">Download Document</span></a></li>		
								<li><a href="doc-remove.php"><span class="d-block">Remove Document</span></a></li>		
							</ul>
						</div>
                    </li>
					<li>
						<a href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                            aria-controls="collapse3" class="rotate-arrow-icon collapsed">
                            <i class="simple-icon-arrow-down"></i> <span class="d-flex"><i class="nav-trans"></i> Transaction <br>management</span>
                        </a>
                        <div id="collapse3" class="collapse">
                            <ul class="list-unstyled inner-level-menu">
                                <li><a href="trans-list.php"><span class="d-inline-block">EBMS Transaction List</span></a></li>
								<li><a href="trans-gen-pdf.php"><span class="d-inline-block">Generate PDF</span></a></li>
								<li><a href="trans-process.php"><span class="d-inline-block">Process Monitor-manual</span></a></li>
							</ul>
						</div>
                    </li>
                    <li>
						<a href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                            aria-controls="collapse4" class="rotate-arrow-icon collapsed">
                            <i class="simple-icon-arrow-down"></i> <span class="d-flex"><i class="nav-report"></i> Report</span>
                        </a>
                        <div id="collapse4" class="collapse">
                            <ul class="list-unstyled inner-level-menu">
                                <li><a href="report-bills.php"><span class="d-inline-block">Bills Report</span></a></li>
								<li><a href="report-vat.php"><span class="d-inline-block">Vat Report</span></a></li>
							</ul>
						</div>
                    </li>
					<li>

						<a href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
                            aria-controls="collapse5" class="rotate-arrow-icon collapsed">
                            <i class="simple-icon-arrow-down"></i> <span class="d-flex"><i class="nav-log"></i> See logs</span>
                        </a>
                        <div id="collapse5" class="collapse">
                            <ul class="list-unstyled inner-level-menu">
                                <li><a href="log-audit.php"><span class="d-inline-block">Audit Log</span></a></li>
								<li><a href="log-archive.php"><span class="d-inline-block">Archive and Purge</span></a></li>
							</ul>
						</div>
                    </li>
					<li>

						<a href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                            aria-controls="collapse6" class="rotate-arrow-icon collapsed">
                            <i class="simple-icon-arrow-down"></i> <span class="d-flex"><i class="nav-template"></i> Template</span>
                        </a>
                        <div id="collapse6" class="collapse">
                            <ul class="list-unstyled inner-level-menu">
                                 <li><a href="tmp-doc.php"><span class="d-inline-block">Document Form Template</span></a></li>
								 <li><a href="tmp-xml.php"><span class="d-inline-block">XML Form Template</span></a></li>
								 <li><a href="tmp-email.php"><span class="d-inline-block">Email Template</span></a></li>
								 <li><a href="tmp-setup.php"><span class="d-inline-block">Setup Template</span></a></li>
							</ul>
						</div>
                    </li>
                    <li>
						<a href="#" data-toggle="collapse" data-target="#collapse7" aria-expanded="false"
                            aria-controls="collapse7" class="rotate-arrow-icon collapsed">
                            <i class="simple-icon-arrow-down"></i> <span class="d-flex"><i class="nav-setup"></i> Setup</span>
                        </a>
                        <div id="collapse7" class="collapse">
                         <ul class="list-unstyled inner-level-menu">
                                <li><a href="setup-company.php"><span class="d-inline-block">Setup Company</span></a></li>
								<li><a href="setup-company-edit.php"><span class="d-inline-block">Running Doc No</span></a></li>
								<li><a href="setup-usage-report.php"><span class="d-inline-block">Usage Report</span></a></li>
							</ul>
						</div>
                    </li>
                    <li>
						<a href="#" data-toggle="collapse" data-target="#collapse8" aria-expanded="false"
                            aria-controls="collapse8" class="rotate-arrow-icon collapsed">
                            <i class="simple-icon-arrow-down"></i> <span class="d-flex"><i class="nav-user"></i> User/Permission</span>
                        </a>
                        <div id="collapse8" class="collapse">
                            <ul class="list-unstyled inner-level-menu">
                                <li><a href="setup-user.php"><span class="d-inline-block">Setup User</span></a></li>
								<li><a href="setup-role.php"><span class="d-inline-block">Setup Role</span></a></li>
							</ul>
						</div>
                    </li>
                    
                </ul>
            </div>
        </div>

    </div>